.popup_banner{
  overflow-y: hidden;
	max-height: 221px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.popup_banner.closed{
  max-height: 0px;
}

.popup_banner.closed .popup_off_banner{
	display: none;
}

#spinner.hide{
	display: none
}

#spinner{
	position: absolute;
	right: 15;
	margin-top: 15;
}

.form-text.errors{
	color: red;
	margin-left: 5px;
}

.form-text.errors span{
	display: block;
}

#agree-to-term{
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 13px;
	color: #666666;
}