html, body{
	height: 100%;
}

.popup_banner{
  overflow-y: hidden;
	max-height: 221px; /* approximate max height */

	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.popup_banner.closed{
  max-height: 0px;
}

.popup_banner.closed .popup_off_banner{
	display: none;
}

#spinner.hide{
	display: none
}

#spinner{
	position: absolute;
	right: 15;
	margin-top: 15;
	z-index: 9999999;
}

.form-text.errors{
	color: red;
	margin-left: 5px;
}

.form-text.errors span{
	display: block;
}

#agree-to-term{
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	font-size: 13px;
	color: #666666;
}

.header-top-area.rose-background{
	background-color: #c0172e;
	color: white;
	font-size: 14px;
	font-weight: 900;
	border-bottom: none;
}

.header-top-area.rose-background ul > li > a,
.header-top-area.rose-background ul > li > span,
.header-middle.red-background ul > li > a,
.header-middle.red-background ul > li > span{
	color: white;
}

.header-middle.red-background ul li .sign-in{
	color: white;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	margin-left: 8px;
	text-transform: capitalize;
	vertical-align: super;
}

.header-middle.red-background ul li span.total-pro {
	background: white none repeat scroll 0 0;
	border-radius: 10px;
	color: rgb(80, 80, 80);
	display: block;
	font-size: 13px;
	font-weight: 800;
	margin-top: 3px;
	min-width: 30px;
	text-align: center;
}

.header-middle.red-background .my-cart > span {
	color: white;
	display: block;
	line-height: 18px;
}

.header-middle.red-background li.shopping-cart{
	margin-top: 10px;
	margin-right: 20px;
}

.header-top-area.rose-background ul > li > i{
	margin-right: 6px;
}

.header-top-area.rose-background ul > li:not(:last-child){
	border-right: 1px solid rgba(0, 0, 0, 0.1);
	padding-right: 20px;
	padding-left: 20px;
}

.header-top-area.rose-background ul > li:last-child{
	padding-left: 20px;
}

.header-middle.red-background{
	background-color: #ca0813;
}

.fa-square-border{
	border: 2px solid white;
	padding: 2px;
	font-size: x-small;
}

.fa-heart-adjusted{
	font-size: 17px;
	vertical-align: text-bottom;
}

#main-logo{
	width: 270px;
	height: 70px;
	margin-left: 10px;
}

form#main-search-form{
	width: 85%;
	margin: 0 auto;
	float: right;
}

form#main-search-form .search-rounded { 
  padding:6px 50px 6px 20px;
	margin:3px; 
	border-radius:25px; 
	-moz-border-radius:25px; 
	-webkit-border-radius:25px; 
	color: black;
	width: 90%;
	height: 40px;
	font-size: 16px;
	line-height: 1.35em;
	outline: none;
	border: none;
	resize: none;
	font-weight: 600;
}

#main-search-form button {
	position: relative;
	margin-left: -42px;
	background: none;
	border: none;
	vertical-align: text-bottom;
	font-size: 14px;
	background-color: #f2f2f2f5;
	height: 40px;
	top: 9px;
	width: 40px;
	border-radius: 0px 25px 25px 0px;
	color: rgb(102, 102, 102);
	font-weight: 100;
}

.vertical-menu > span.categorie-title.no-bg{
	background: none;
	color: #363636;
	cursor: pointer;
	display: block;
	font-family: "lato",sans-serif;
	font-size: 14px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding-left: 45px;
	position: relative;
	text-transform: uppercase;
}

.nav-right{
	float: right;
}

#main-category-drop-down{
	color: #363636;
	cursor: pointer;
	display: block;
	font-family: "lato",sans-serif;
	font-size: 16px;
	font-weight: 700;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding-left: 45px;
	position: relative;
	text-transform: uppercase;
}

#main-category-drop-down i{
	margin-right: 15px;
	font-size: 16px;
}

.icon-spr{
	margin-right: 15px;
}

.icon-spr10{
	margin-right: 10px;
}

.icon-spr5{
	margin-right: 5px;
}

.icon-red{
	color: red;
}

.icon-s25{
	font-size: 25px;
}

.vertical-menu-list > li a i.icon-left{
	position: relative;
	right: 0; /* override template */
	top: 0; /* override template */
}

.vertical-menu-list > li a i.icon-right{
	position: absolute;
	right: 14px;
	top: 12px;
}

.wd-dropdown{
	background: #fff;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 100%;
	-webkiit-transform: scaleY(0);
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	width: 280px;
	visibility: hidden;
	z-index: 999;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	-webkit-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1);
}

.wd-dropdown.show{
	opacity: 1;
	visibility: visible;
	-webkiit-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
}

.header-bottom-list > li > a.active {
	color: #E62E04;
}

.single-megamenu ul li.menu-tile a {
	color: #2c2c2c;
	display: block;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

#main-slider{
	width: 100%;
	height: 409px;
}

#main-slider button.slick-arrow{
	width: 100px;
	height: 100px;
	z-index: 99;
}

#main-slider button.slick-arrow.slick-prev{
	left: 25px;
}

#main-slider button.slick-arrow.slick-next{
	right: 25px;
}

#main-slider .slick-prev:before, .slick-next:before{
	font-family: 'slick';
	font-size: 45px;
	line-height: 1;
	opacity: .75;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#main-slider .slick-slide img{
	display: block;
	width: 100%;
	height: 100%;
}

.one-x-five-slider{
	position: relative;
}

.one-x-five-slider .slick-slide img{
	display: block;
	width: 216px;
	height: 216px;
}

.one-x-five-slider .single-product{
	width: 100%;
	max-width: 216px;
	display: inline-block;
}

.one-x-five-slider .actions-secondary a i{
	color: #363636;
	float: left;
	font-size: 25px;
	width: 28px;
}

.one-x-five-slider .slider-nav{
	position: absolute;
	right: 0px;
	margin-top: -45px;
}

.tab-menu.no-mg-right{
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-right: 0px;
}

.button-nav {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	height: 33px;
	line-height: 33px;
	position: relative;
	display: inline-block;
	text-align: center;
	border: 1px solid #cbcbcb;
	transition: all 300ms ease-in 0s;
	width: 33px;
	-webkit-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
	z-index: 55;
}

.one-x-five-slider .actions-secondary a span{
	color: #363636;
	display: inline-block;
	font-size: 13px;
	line-height: 15px;
	padding-left: 7px;
	vertical-align: -4px;
	white-space: normal;
	width: calc(100% - 28px);
	margin-top: 5px;
}

.one-x-five-slider .single-product .actions-secondary a:hover span,
.one-x-five-slider .single-product .actions-secondary a:hover i
{
	color: red;
	transform: scale(1);
	opacity: 1;
}


.pagination-bottom {
	height: fit-content;
}

.t95-width {
	width: 95%
}

.dropzone{
	position: relative;
	width: 100%;
	min-height: 200px;
	height: fit-content;
	border-width: 2px;
	border-color: rgb(102, 102, 102);
	border-style: dashed;
	border-radius: 5px;
}

.dropzone p {
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	color: #363636;
	font-size: 1em;
	font-weight: 500;
}

.dropzone p i{
	font-size: 3.5em;
	position: relative;
	top: 10px;
}

.dropzone .bgtext{
	opacity: 0.15;
}

.dropzone .preview{
	position: absolute;
	left: 20px;
	top: 30px;
}

.dropzone .preview img{
	width: 75px;
	height: 75px;
	opacity: 1;
	margin-right: 15px;
	padding: 10px;
}

.sortable-list img{
	width: 50px;
}

.sortable-list .list-group-item.sortable-item{
	position: relative;
	display: block;
	padding: .75rem 1.25rem;
	margin-bottom: -1px;
	background-color: #fff;
	border-bottom: 1px solid rgba(0,0,0,.125);
	border-left: none;
	border-right: none;
}

.flex-center{
	display: flex;
  align-items: center;
}

.no-paddingl{
	padding-left: 0px
}

.width-100{
	max-width: 100px;
}

.mwidth-200{
	min-width: 200px;
}

#submit-button #submit-text{
	display: inline-block;
}

#submit-button:disabled #submit-text{
	display: none;
}

.submit-spinner {
  width: fit-content;
  text-align: center;
}

#submit-button .submit-spinner{
	display: none;
}

#submit-button:disabled .submit-spinner{
	display: block;
}

.submit-spinner > div {
  width: 10px;
  height: 10px;
  background-color: white;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.submit-spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.submit-spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}